.loginStyle
{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100vw;
    height: 90vh;
    background: #363740;
    flex-flow: nowrap column;

    .titleStye
    {
        position: absolute;
        width: 465px;
        height: 87px;
        left: 487px;
        top: 359px;
    
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 69px;
        line-height: 87px;
        letter-spacing: 0.4px;
    
        color: #FFFFFF;
    }

    form
    {
        width: 456px;
        height: 276px;

        background: #FFFFFF;
        border-radius: 10px;
        
        input:focus
        {
            outline: none;
        }

        .loginTextStyle
        {
            margin-top: 42px;
            margin-left: 75px;

            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.01em;

            color: #323C47;

            border: none;
            border-bottom: solid 1px;
            border-color: #323C47;

            height: 48px;
            width: 302px;
        }

        .loginPasswordStyle
        {
            margin-top: 10px;
            margin-left: 75px;

            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.01em;

            color: #323C47;

            border: none;
            border-bottom: solid 1px;
            border-color: #323C47;

            height: 48px;
            width: 302px;
        }

        .btnBindStyle
        {
            .btnLoginStyle
            {
                cursor: pointer;

                margin-top: 10px;
                margin-left: 150px;
                width: 160px;
                height: 42px;

                border: none;
                box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
                border-radius: 4px;

                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: 0.01em;
                color: #FFFFFF;

                background: #109CF1;
            }

            .btnSignupStyle
            {
                cursor: pointer;

                margin-top: 10px;
                margin-left: 200px;

                border: none;
                border-bottom: solid 1px;

                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: 0.01em;
                color: #90A0B7;

                background: #FFFFFF;
            }
        }
    }
}