.sensor-group {

}
.device-group {

}

.menu-group {
    margin-left: 300px;
}

.sensor-div {
    position: absolute;
    width: 50px;
    padding: 50px;
    border: 1px solid blue;
}
.device-div {
    width: 50px;
    padding: 50px;
    margin-left: 200px;
    border: 1px solid blue;
}