#home{
        margin-left: 300px;
        margin-top: 30px;
    .dash{

        width: 1122px;
        height: 546px;
    border: 1px solid;
    border-color: #DFE0EB;
    border-radius: 8px;
        background: #FFFFFF;
    }

    .notice{
        display: inline-block;
        margin-top: 10px;
        width: 550px;
        height: 300px;
    border: 1px solid;
    border-color: #DFE0EB;
    border-radius: 8px;
        background: #FFFFFF;
    }

    .emergency{
        display: inline-block;
        margin-top: 10px;
        margin-left: 20px;
        width: 550px;
        height: 300px;
    border: 1px solid;
    border-color: #DFE0EB;
    border-radius: 8px;
        background: #FFFFFF;
    }
}