.model-group {

}
.scenario-group {

}

.menu-group {
    margin-left: 300px;
}

.model-div {
    position: absolute;
    width: 50px;
    padding: 50px;
    border: 1px solid blue;
}
.scenario-div {
    width: 50px;
    padding: 50px;
    margin-left: 200px;
    border: 1px solid blue;
}